<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h2>Can't find the website：<span class="text-danger">http://localhost:3000/{{shortName}}</span></h2>
    </div>
  </div>
</div>